{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bem-vindo ao DEMPAM</title>
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>

    <div class="container-homepage">
        
        <header class="header-homepage">
            <img src="{% static 'images/logo_mppe.png' %}" alt="Logo Ministério Público de Pernambuco">
            <p>Ministério Público de Pernambuco</p>
        </header>

        <main class="main-content">
            <h1>SEJA BEM VINDO AO SITE DO DEMPAM!</h1>
            
            <div class="button-group">
                <a href="#" class="btn btn-solicitante">SOLICITANTE</a>
                
                <a href="{% url 'login' %}" class="btn btn-admin">ADMINISTRATIVO</a>
            </div>
        </main>
        
    </div>

</body>
</html>